* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}


main {
position: relative;
 z-index: 1;
 background:hsl(275, 100%, 97%) url("./assets/images/background-pattern-desktop.svg");
 background-repeat: no-repeat;
 font-family: "Work Sans", sans-serif;
 font-optical-sizing: auto;
 display: grid;
 place-items: center;
 font-style: normal;
 min-height: 150vh;
 max-height: 200vh;
 height:auto;
padding: 20px;
}

section {
 max-height: 160vh;
 min-height: 70%;
 height: auto;
 display: grid;
 place-items: center;
}

.container {
 background-color: hsl(0, 0%, 100%);
 border-radius: 10px;
 padding: 20px;
 width: 530px;   
 margin: auto;
 max-height: 180vh;
 min-height: 500px;
 height: auto;
 
}

h1 {
    font-size: 35px;
    color: hsl(292, 42%, 14%);
}
.auto {
 height: fit-content;
}

.faq-top {
 display: flex;
 align-items: center;
 gap: 10px;
 margin-top: 20px;
 height: 50px;
}

.faq-top img {
 width: 30px;
}
.content {
 max-height:100%;
 min-height: 80%;
 height: auto;
}

article {
 height: 80%;
 display: flex;
 justify-content: space-around;
 
 flex-direction: column;
 gap: 20px;
}

.accordion {
 width: 97%;
 margin: 10px auto;
 height: auto;
 position: relative;
 border-bottom: 0.8px solid hsl(275, 100%, 97%);
 padding-bottom: 20px;
}

.borderless {
 border: none;
}

.text {
 display: flex;
 align-items: center;
 justify-content: space-between;
 font-size: 16px;
}

.text p {
 color: hsl(292, 42%, 14%);
 font-weight: 700;
 cursor: pointer;
}

.text p:hover {
 color: hsl(293, 53%, 50%);
}


.accordion-details {
display: none;
 height: 0;
 font-size: 0;
 
}

.block {
display: block;
height: 60px;
margin-top: 15px;

color: hsl(292, 16%, 49%);
animation: down .3s ease-in forwards;
}

@keyframes down {
 from { height: 0;}
 to { height: 90px; font-size: 14px;}
}

   


@media (max-width:600px) {
    main {
         display: flex;
         min-height: 100vh;
         max-height: 200vh;
         padding: 20px;
         height:auto;
        
        }
        
       
        

    .container {
    height: auto;
     width: 95%;   
    }
    
    h1 {
     font-size: 25px;
    }
    
    .faq-top img {
     width: 25px;
    }

    .accordion {
     padding: 10px;
    }
    
    .text {
     font-size: 15px;
    }
    
    .text p {
     width: 85%;
    }
    
}

@media (min-width:700px) and (max-width:1000px) {
    
        .container {
         height: auto;
         width: 95%;   
         
        }
        
        h1 {
         font-size: 25px;
        }
        
        .faq-top img {
         width: 25px;
        }
    
        .accordion {
         padding: 10px;
        }
        
        .text {
         font-size: 15px;
        }
        
        .text p {
         width: 85%;
        }
}

